Host bastion-host
HostName 3.93.66.10
User ubuntu
Port 22
IdentityFile ~/.ssh/streambox-us-east-1.pem
IdentitiesOnly yes

Host private-worker-node1
HostName 10.0.70.252
User ubuntu
Port 22
IdentityFile ~/.ssh/streambox-us-east-1.pem
IdentitiesOnly yes
ProxyJump bastion-host

Host private-control-plane
HostName 10.0.86.37
User ubuntu
Port 22
IdentityFile ~/.ssh/streambox-us-east-1.pem
IdentitiesOnly yes
ProxyJump bastion-host
